##################################
# Executables
##################################
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

##################################
# Object Files
##################################
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.dylib

##################################
# Build Directories
##################################
build/
cmake-build-debug/
cmake-build-release/
out/
bin/
Debug/
Release/

##################################
# CMake Files
##################################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

##################################
# VS Code
##################################
.vscode/

##################################
# JetBrains / CLion
##################################
.idea/
*.iml

##################################
# Logs
##################################
*.log

##################################
# OS Files
##################################
.DS_Store
Thumbs.db

##################################
# Temporary Files
##################################
*.tmp
*.temp
*.swp